@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --swiper-navigation-color: #ccc;
}

.marquee {
  position: relative;
  overflow-x: hidden;
  min-height: 42px;
  --move-initial: calc(-25%);
  --move-final: calc(-50%);
}

.marquee_inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 8s linear infinite;
}

.marquee span {
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.shopAll {
  background-image: url('../public/palms.png');
  background-size: cover;
}

.cart-wrapper {
  width: 100vw;
  position: fixed;
  z-index: 100;
  transition: all 3s ease-in-out;
}

.cart-side {
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
}

.cart-container {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 80vw;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: fixed;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.menu-wrapper {
  width: 100vw;
  position: fixed;
  z-index: 100;
}

.menu-side {
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
}

.menu-container {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 80vw;
  background-color: white;
  padding: 50px 16px;
  position: fixed;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
