@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --swiper-navigation-color: #ccc;
}

.marquee {
  position: relative;
  overflow-x: hidden;
  min-height: 42px;
  --move-initial: calc(-25%);
  --move-final: calc(-50%);
}

.marquee_inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 8s linear infinite;
}

.marquee span {
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.shopAll {
  background-image: url('../public/palms.png');
  background-size: cover;
}
